<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link href="home.css" rel="stylesheet" />
    </head>
<body>
    <h1> Welcome to the Great Maze Game! </h1>
    <hr>
    <h2> Rules: </h2>
    <p> 1) The goal of the game is to navigate the maze and not hit any of the walls!
        <br> 2) Use the accelerometer to control the speed and direction of the ball.
        <br> 3) The more the accelerometer is tilted, the faster the ball will go.
        <br> Good luck!
    </p>

    <a href = 'https://www.google.com/'>
        <button> Start Game! </button> 
    </a>
    
        



</body>
</html>