<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winner!</title>
</head>
<body>
    <pre>
    
    |  ||
    
    || |_

 \o       o/                             o                                        o   
  v\     /v                             <|>                                      <|>  
   <\   />                              / \                                      / \  
     \o/    o__ __o     o       o       \o/    o__ __o       __o__   o__  __o    \o/  
      |    /v     v\   <|>     <|>       |    /v     v\     />  \   /v      |>    |   
     / \  />       <\  < >     < >      / \  />       <\    \o     />      //    < >  
     \o/  \         /   |       |       \o/  \         /     v\    \o    o/           
      |    o       o    o       o        |    o       o       <\    v\  /v __o    o   
     / \   <\__ __/>    <\__ __/>       / \   <\__ __/>  _\o__</     <\/> __/>  _<|>_ 
                                         
    </pre> 
    <a target='_self' href='/home'>
        <button> Return to home </button> 
    </a>
    <br>
    <a target='_self' href='/game'>
        <button> New maze </button> 
    </a>
</body>
</html>